:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

nav {
  display: flex;
  margin: 0 auto 60px;
  gap: 10px;
  align-items: center;
}

nav h1 {
  margin-right: auto;
}

nav a {
  color: #333;
  padding: 4px 10px;
}

nav a.active {
  color: white;
  background: #333;
  text-decoration: none;
}

/* FORM */

.form-container {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding-top: 20px;
}

.form-control {
  display: block;
  margin-bottom: 1rem;
}

.form-control span {
  display: block;
  margin-bottom: 10px;
}

.form-control input, textarea {
  padding: 5px 8px;
  font-family: inherit;
  width: 100%;
  resize: none;
  font-size: 20px;
}

.button {
  background:#848484;
  border: 0;
  padding: 8px 15px;
  color: #fff;
  cursor: pointer;
  display: block;
  width: 100%;
}

.button:hover {
  background:#848484d2;
}


/* PAGE NOT FOUND */

.pageNotFound-container {
  text-align: center;
}

.pageNotFound-container p {
  text-align: justify;
}

.pageNotFound-container a {
  text-decoration: none;
  color:#333;
  padding: 5px 8px;
  border: 2px solid #333;
  background-color:#fff;

}

.pageNotFound-container a:hover {
  background: #333;
  color:#fff;
}


/* ARTICLES */

.article-container .card {
  padding: 20px;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  box-shadow: 4px 4px 6px rgba(0,0,0,0.05);
  margin-bottom: 20px;
}